---
import Layout from '../components/Layout.astro';
---
<Layout title="The Found Sock Laundromat" description="Brighton's cleanest self-service laundromat.">
  <div class="p-8">
    <h1 class="text-5xl font-bold">Layout works.</h1>
  </div>
</Layout>
